
<!-- templates/hello.tmpl -->

<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>我们正在努力工作</h1>
						<h2>{{.}}</h2>
						<nav>
							<ul>
								<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
								<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
								<li><a href="#" class="fa fa-dribbble"><span>Dribbble</span></a></li>
								<li><a href="#" class="fa fa-github"><span>Github</span></a></li>
								<li><a href="#" class="fa fa-envelope-o"><span>Email</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; Design by: <a href="http://html5up.net">HTML5 UP</a>.</span>
					</footer>
				
			</div>
		</div>